@import "tailwindcss";


body{
    background-color: black;
}

#heroheading, #heropara, #abouttitle, #aboutp1, #aboutp3{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
